<div class="toolbar" role="banner">
    <img class="miFoto" style="background-color: white;" width="40" alt="JCJ Logo"
        src="https://static.wixstatic.com/media/0e1495_6f73914efbca42feb74732d0c2be2f41~mv2.png/v1/fill/w_80,h_80,al_c,usm_0.66_1.00_0.01,enc_auto/JCJ%20logo.png" />
    <span>Javier Casto Jarillo</span>
    <div class="buttons">
        <button routerLink="/photo"> {{textPhotoButton | titlecase}} </button>
        <button routerLink="/video"> {{textVideoButton | titlecase}} </button>
        <button routerLink="/calculator"> {{textCalculatorButton | titlecase}} </button>
    </div>
</div>